/*IMPORT LINKS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.eot?imiavl");
  src: url("assets/fonts/icomoon.eot?imiavl#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?imiavl") format("truetype"), url("assets/fonts/icomoon.woff?imiavl") format("woff"), url("assets/fonts/icomoon.svg?imiavl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-r:before {
  content: "\e902";
}

.icon-arrow-r-long:before {
  content: "\e903";
}

.icon-down:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e901";
}

.icon-bag:before {
  content: "\e900";
}

/*IMPORT LINKS*/
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box !important;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

/*RESET CSS*/
/*GLOBAL */
:root {
  /*colors*/
  --second:#7A42F0;
  --primary: #5D22DB;
  --primary-two: #1C274C;
  --bg-primary: #FFFFFF;
  --bg-base: #F4F4F4;
  --text-primary:#1A1A1A;
  --transition:300ms all ease-in-out;
  /*font size*/
  --text-xs-size: 12px;
  --text-xs-l-height: 16px;
  --text-sm-size: 14px;
  --text-sm-l-height: 20px;
  --text-base-size: 16px;
  --text-base-l-height: 24px;
  --text-lg-size: 18px;
  --text-lg-l-height: 28px;
  --text-xl-size: 20px;
  --text-xl-l-height: 28px;
  --text-2xl-size: 24px;
  --text-2xl-l-height: 32px;
  --text-3xl-size: 30px;
  --text-3xl-l-height: 36px;
  --text-4xl-size: 36px;
  --text-4xl-l-height: 40px;
  --text-5xl-size: 48px;
  --text-5xl-l-height: 1;
  --text-6xl-size: 60px;
  --text-6xl-l-height: 1;
  --text-7xl-size: 72px;
  --text-7xl-l-height: 1;
  --text-8xl-size: 96px;
  --text-8xl-l-height: 1;
  --text-9xl-size: 128px;
  --text-9xl-l-height: 1;
  --icon-size: 10px;
}

/*PROJE*/
body {
  background: red !important;
}

header {
  background-color: var(--bg-primary);
  height: 89px;
}
header .navbar {
  height: 89px;
}
header .navbar .navbar-brand img {
  width: 160px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
header .navbar .navbar-menu {
  margin-left: 130px;
}
header .navbar .navbar-menu .navbar-nav {
  flex-direction: row !important;
}
header .navbar .navbar-menu .navbar-nav .nav-item .nav-link {
  font-size: var(--text-sm-size);
  font-weight: 500;
  line-height: var(--text-base-l-height);
  color: var(--text-primary);
}
header .navbar .navbar-menu .navbar-nav .nav-item .nav-link.active {
  color: var(--primary);
}
header .navbar .navbar-menu .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary);
}
header .navbar .navbar-menu .navbar-nav .nav-item:not(:last-child) {
  margin-right: 37px;
}
header .navbar .right-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .navbar .right-menu .search-btn {
  background: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
header .navbar .right-menu .search-btn i {
  font-size: 18px;
}
header .navbar .right-menu .border-content {
  padding: 0 22px;
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
}
header .navbar .right-menu .login-btn {
  display: flex;
  align-items: center;
  padding: 12px 11px;
  background-color: var(--bg-primary);
  color: var(--primary-two);
  border-radius: 4px;
  transition: var(--transition);
}
header .navbar .right-menu .login-btn:hover {
  color: var(--primary);
}
header .navbar .right-menu .login-btn i {
  font-size: 18px;
  margin-left: 10px;
}
header .navbar .right-menu .cart-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 4px;
  transition: var(--transition);
  border: 1px solid #EBEBEB;
  position: relative;
  margin-left: 30px;
  position: relative;
}
header .navbar .right-menu .cart-btn:hover .cart-dropdown {
  opacity: 100%;
  visibility: visible;
}
header .navbar .right-menu .cart-btn .cart-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 312px;
  height: auto;
  transform: translateY(70px);
  border-radius: 6px;
  background-color: var(--bg-primary);
  padding: 26px 8px 26px 12px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul {
  padding-left: 0;
  margin-bottom: 0;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:last-child {
  margin-bottom: 30px;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:not(:last-child) {
  margin-bottom: 14px;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:hover {
  background-color: var(--primary);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:hover .cart-product-info span {
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:hover select {
  background-color: var(--primary);
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li:hover .cart-product-deleted {
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a {
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 4px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a img {
  width: 52px;
  min-width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a .cart-product-info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a .cart-product-info .cart-product-name {
  font-size: var(--text-sm-size);
  font-weight: 500;
  line-height: var(--text-sm-l-height);
  color: #313131;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a .cart-product-info .cart-product-price {
  font-size: var(--text-xs-size);
  font-weight: 500;
  line-height: var(--text-xs-l-height);
  color: #BBBBBB;
}
header .navbar .right-menu .cart-btn .cart-dropdown ul li a .cart-product-deleted {
  width: 18px;
  height: 18px;
  background: transparent;
  margin: 0 17px 0 13px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown .cart-subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
  margin-bottom: 28px;
  border-bottom: 1px solid #EBEBEB;
}
header .navbar .right-menu .cart-btn .cart-dropdown .cart-subtotal .cart-subtotal-text {
  color: #313131;
  font-weight: 600;
  font-size: var(--text-sm-size);
  margin-left: 7px;
}
header .navbar .right-menu .cart-btn .cart-dropdown .cart-subtotal .cart-subtotal-price {
  color: var(--primary-two);
  font-weight: 600;
  font-size: var(--text-sm-size);
  margin-right: 20px;
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .view-cart {
  background: var(--primary);
  color: var(--bg-primary);
  padding: 11px 15px;
  border-radius: 4px;
  font-size: var(--text-xs-size);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .view-cart:hover {
  background: var(--second);
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .view-cart i {
  font-size: 10px;
  margin-left: 7px;
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .checkout-cart {
  background: var(--bg-primary);
  color: #191919;
  padding: 11px 15px;
  border-radius: 4px;
  font-size: var(--text-xs-size);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  border: 1px solid #EBEBEB;
  margin-left: 5px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .checkout-cart:hover {
  background-color: var(--second);
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn .cart-dropdown .view-checkout-btns .checkout-cart i {
  font-size: 10px;
  margin-left: 7px;
}
header .navbar .right-menu .cart-btn:hover {
  background-color: var(--primary-two);
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn:hover i.icon-bag {
  color: var(--bg-primary);
}
header .navbar .right-menu .cart-btn:hover .product-number {
  border: 1px solid var(--bg-primary);
}
header .navbar .right-menu .cart-btn i.icon-bag {
  color: var(--primary-two);
  font-size: 18px;
  margin-left: 16px;
  transition: var(--transition);
}
header .navbar .right-menu .cart-btn .product-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-two);
  color: var(--bg-primary);
  border: 1px solid var(--primary-two);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transition: var(--transition);
}
header .navbar .navbar-toggler {
  display: none;
}

/*MOBIL MEDIA*/
@media only screen and (max-width: 1200px) {
  header .navbar .navbar-menu {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 992px) {
  header .navbar .navbar-nav {
    flex-direction: column !important;
  }
  header .navbar .navbar-menu {
    display: none;
  }
  header .navbar .right-menu {
    display: none;
  }
  header .navbar .navbar-toggler {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */