/*IMPORT LINKS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?imiavl');
  src:  url('assets/fonts/icomoon.eot?imiavl#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?imiavl') format('truetype'),
    url('assets/fonts/icomoon.woff?imiavl') format('woff'),
    url('assets/fonts/icomoon.svg?imiavl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-r:before {
  content: "\e902";
}
.icon-arrow-r-long:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e900";
}

/*IMPORT LINKS*/
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box !important;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}
ol, ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none !important; 
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

/*RESET CSS*/
/*GLOBAL */
:root {

    /*colors*/
  --second:#7A42F0;
  --primary: #5D22DB;
  --primary-two: #1C274C;
  --bg-primary: #FFFFFF;
  --bg-base: #F4F4F4;
  --text-primary:#1A1A1A;
  --transition:300ms all ease-in-out;


    /*font size*/

  --text-xs-size: 12px;
  --text-xs-l-height: 16px;
  --text-sm-size: 14px;
  --text-sm-l-height: 20px;
  --text-base-size: 16px;
  --text-base-l-height: 24px;
  --text-lg-size: 18px;
  --text-lg-l-height: 28px;
  --text-xl-size: 20px;
  --text-xl-l-height: 28px;
  --text-2xl-size: 24px;
  --text-2xl-l-height: 32px;
  --text-3xl-size: 30px;
  --text-3xl-l-height: 36px;
  --text-4xl-size: 36px;
  --text-4xl-l-height: 40px;
  --text-5xl-size: 48px;
  --text-5xl-l-height: 1;
  --text-6xl-size: 60px;
  --text-6xl-l-height: 1;
  --text-7xl-size: 72px;
  --text-7xl-l-height: 1;
  --text-8xl-size: 96px;
  --text-8xl-l-height: 1;
  --text-9xl-size: 128px;
  --text-9xl-l-height: 1;
  --icon-size: 10px;

}




/*PROJE*/


body{
  background: red !important;
}

.overlay-cart.overlay-active{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(#000, 0.25);
  animation: shop-fade-minicart 0.5s;
  z-index: 4;
  transition: 500ms all;
}
.shop-minicart{
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: var(--bg-primary);
  z-index: 5;
  transition: 500ms all;
  &.active-cart{
    right: 0;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 8px 25px 12px;
    .shop-minicart-headline{
      display: inline-flex;
      align-items: center;
      .shop-minicart-label{
        font-size: var(--text-xl-size);
        color: var(--primary-two);
        font-weight: 600;
      }
      .shop-minicart-value{
        font-size: var(--text-xl-size);
        background: var(--primary-two);
        border-radius: 50%;
        color: var(--bg-primary);
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 28px;
        min-height: 28px;
        margin-left: 8px;
      }
    }
    .shop-minicart-close{
      display: flex;
      align-items: center;
      background: var(--bg-primary);
      color: var(--primary-two) ;
      font-size: var(--text-3xl-size);
    }
  }
  .shop-minicart-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    .shop-minicart-inner{
      position: relative;
      padding: 26px 8px 26px 12px;
      display: flex;
      flex-direction: column;
      height: 100%;
      .minicart-content-lists{
        list-style: none;
        margin: 0.25rem 0 0;
        padding: 0;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: minmax(0, 1fr);
        .minicart-content-list{
          position: relative;
          padding: 0;
          margin: 0;
          list-style: none;
          display: grid;
          gap: 1rem;
          grid-template-columns: minmax(0, 60px) minmax(0, 1fr) minmax(0,20px);
          &:hover .minicart-content-name a::after{
            width: 100% !important;
          }
          .minicart-thumbnail{
            img{
              width: 52px;
              height: 52px;
              min-width: 52px;
              object-fit: cover;
              border-radius: 4px;
  
            }
          }
          .minicart-content{
            .minicart-content-name{
              a{
                font-size: var(--text-sm-size);
                line-height: var(--text-sm-l-height);
                font-weight: 500;
                color: #313131;
                position: relative;
                transition: var(--transition);

                &::after{
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  display: block;
                  width: 0%;
                  height: 1px;
                  background: var(--primary-two);
                  transition: 300ms width;
                }
                
              }
            }
            .minicart-content-price{ 
              font-size: var(--text-xs-size);
              line-height: var(--text-sm-l-height);
              font-weight: 500;
              color: #BBBBBB;

            }
          }
          .minicart-content-delete{
            width: 18px;
            height: 18px;
            background: var(--bg-primary);
            transform: translateY(16px);
            i{
              font-size: 20px;
            }
          }
  
        }
      }
      .minicart-bottom{
        margin-top: auto;
        .minicart-total{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          padding-top: 30px;
          margin: auto 5px 0 5px;
          .minicart-subtotal{
            font-size: var(--text-sm-size);
            line-height: var(--text-sm-l-height);
            color: var(--primary-two);
            font-weight: 600;
          }
          .minicart-subtotal-price{
            font-size: var(--text-sm-size);
            line-height: var(--text-sm-l-height);
            color: var(--primary-two);
            font-weight: 600;
          }
        }
        .divider-subtotal{
          width: 100%;
          height: 1px;
          display: block;
          background: #EBEBEB;
          margin-top: 10px;
        }
        .view-checkout-btns{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 28px;
          .view-cart{
            background: var(--primary);
            color: var(--bg-primary);
            padding: 11px 15px;
            border-radius: 4px;
            font-size: var(--text-xs-size);
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            margin-right: 5px;
            transition: var(--transition);
            &:hover{
              background: var(--second);
            }
            i{
              font-size: 10px;
              margin-left: 7px;
            }
          }
          .checkout-cart{
            background: var(--bg-primary);
            color: #191919;
            padding: 11px 15px;
            border-radius: 4px;
            font-size: var(--text-xs-size);
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            border: 1px solid #EBEBEB;
            margin-left: 5px;
            transition: var(--transition);
            &:hover{
              background-color: var(--second);
              color: var(--bg-primary);
            }
            i{
              font-size: 10px;
              margin-left: 7px;
            }
          }
          
        }
      }
    }
    
  }
}

header{
    background-color: var(--bg-primary);
    height: 89px;
    .navbar{
        height: 89px;
        .navbar-brand{
            img{
                width: 160px;
                height: auto;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
        .navbar-menu{
             margin-left: 130px;
            .navbar-nav{
                flex-direction: row !important;
                .nav-item{
                  .nav-link{
                    font-size: var(--text-sm-size);
                    font-weight: 500;
                    line-height: var(--text-base-l-height);
                    color: var(--text-primary);
                    &.active{
                      
                      color: var(--primary);
                    }
                    &:hover{
                      color: var(--primary);
                    }
                  }
                    &:not(:last-child){
                        margin-right: 37px;
                    }
                }
            }
        }
        .right-menu{
          margin-left: auto;
          display: flex;
          align-items: center;
          .search-btn{
            background: transparent;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 40px;
            
            i{
              font-size: 18px;
            }
          }.border-content{
            padding:0  22px;
            border-left: 1px solid #D4D4D4;
            border-right: 1px solid #D4D4D4;
          }
          .login-btn{
            display: flex;
            align-items: center;
            padding: 12px 11px;
            background-color: var(--bg-primary);
            color: var(--primary-two);
            border-radius: 4px;
            transition: var(--transition);
            &:hover{
              color: var(--primary);
            }
            i{
              font-size: 18px;
              margin-left: 10px;
            }
          }
          .cart-btn{
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 12px 15px;
            background-color: var(--bg-primary);
            color: var(--text-primary);
            border-radius: 4px;
            transition: var(--transition);
            border: 1px solid #EBEBEB;
            position: relative;
            margin-left: 30px;
            &:hover {
              background-color: var(--primary-two);
              color: var(--bg-primary);
            }
            &:hover i.icon-bag{
              color: var(--bg-primary);
            }
            &:hover .product-number {
              border: 1px solid var(--bg-primary);
            }
            i.icon-bag{
              color: var(--primary-two);
              font-size: 18px;
              margin-left: 16px;
              transition: var(--transition);
            }
            .product-number{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--primary-two);
              color: var(--bg-primary);
              border: 1px solid var(--primary-two);
              width: 16px;
              height: 16px;
              border-radius: 50%;
              font-size: 10px;
              position: absolute;
              top: 0;
              right: 0;
              transform: translate(50%, -50%);
              transition: var(--transition);
            }
          }
        }
        .navbar-toggler{
          display: none;
        }
    }
    
}






/*MOBIL MEDIA*/

@media only screen and (max-width: 1200px) {

  header{
    .navbar{
       .navbar-menu{
    margin-left: 30px;
       }
    }
  }
 
}

@media only screen and (max-width: 992px) {

  header{
    .navbar{
      .navbar-nav{
        flex-direction: column !important;
      }
      .navbar-menu{
        display: none;
      }
      .right-menu{
        display: none;
      }
      .navbar-toggler{
        display: block;
      }
    }
  }
 
}




















/*
.cart-dropdown{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 312px;
  height: auto;
  transform: translateY(70px);
  border-radius: 6px;
  background-color: var(--bg-primary);
  padding: 26px 8px 26px 12px;
  transition: var(--transition);
  ul{
    padding-left: 0;
    margin-bottom: 0;
    li{
    &:last-child{
      margin-bottom: 30px;
    }
    &:not(:last-child){
      margin-bottom: 14px;
    }
    &:hover{
      background-color: var(--primary);
    }
    &:hover .cart-product-info span{
      color: var(--bg-primary);
    }
    &:hover select{ 
      background-color: var(--primary);
      border: 1px solid var(--bg-primary);
      color: var(--bg-primary);
    }
    &:hover .cart-product-deleted{ 
      color: var(--bg-primary);
    }
      a{
        display: flex;
    align-items: center;
    height: 52px;
    border-radius: 4px;
    transition: var(--transition);
    
        img{
          width: 52px;
          min-width: 52px;
          height: 52px;
          object-fit: cover;
          border-radius: 4px;
          overflow: hidden;
        }
        .cart-product-info{
          display: flex;
          flex-direction: column;
          margin-left: 12px;
          
          transition: var(--transition);
          .cart-product-name{
            font-size: var(--text-sm-size);
            font-weight: 500;
            line-height: var(--text-sm-l-height);
            color: #313131;
          }
          .cart-product-price{
            font-size: var(--text-xs-size);
            font-weight: 500;
            line-height: var(--text-xs-l-height);
            color: #BBBBBB;
          }
        }
        .cart-product-deleted{
          width: 18px;
          height: 18px;
          background: transparent;
          margin:0 17px 0 13px;
          
          transition: var(--transition);
        }
      }
      
    }
  }
  .cart-subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 9px;
    margin-bottom: 28px;
    border-bottom: 1px solid #EBEBEB;
    .cart-subtotal-text{
      color: #313131;
      font-weight: 600;
      font-size: var(--text-sm-size);
      margin-left: 7px;
    }
    .cart-subtotal-price{
      color: var(--primary-two);
      font-weight: 600;
      font-size: var(--text-sm-size);
      margin-right: 20px;
    }
  }
  .view-checkout-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    .view-cart{
      background: var(--primary);
      color: var(--bg-primary);
      padding: 11px 15px;
      border-radius: 4px;
      font-size: var(--text-xs-size);
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
      transition: var(--transition);
      &:hover{
        background: var(--second);
      }
      i{
        font-size: 10px;
        margin-left: 7px;
      }
    }
    .checkout-cart{
      background: var(--bg-primary);
      color: #191919;
      padding: 11px 15px;
      border-radius: 4px;
      font-size: var(--text-xs-size);
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      border: 1px solid #EBEBEB;
      margin-left: 5px;
      transition: var(--transition);
      &:hover{
        background-color: var(--second);
        color: var(--bg-primary);
      }
      i{
        font-size: 10px;
        margin-left: 7px;
      }
    }
  }
}

*/