/*IMPORT LINKS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

/*IMPORT LINKS*/



/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
  
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}




/*RESET CSS*/


/*GLOBAL */

:root{
    --second:#7A42F0;
    --primary: #5D22DB;
    --bg-primary: #FFFFFF;
    --bg-base: #F4F4F4;
    --text-primary:#1A1A1A;

    --transition:300ms all ease-in-out;
}

text-xs	{
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

text-sm	{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}
text-base{
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}
text-lg	{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}
text-xl	{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
text-3xl{
	font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
text-4xl{
	font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}
text-5xl{
	font-size: 3rem; /* 48px */
    line-height: 1;
}
text-6xl{
	font-size: 3.75rem; /* 60px */
    line-height: 1;
}
text-7xl{
	font-size: 4.5rem; /* 72px */
    line-height: 1;
}
text-8xl{
	font-size: 6rem; /* 96px */
    line-height: 1;
}
text-9xl{
	font-size: 8rem; /* 128px */
    line-height: 1;
}



/*PROJE*/
#btn-color-hovers{
padding: 50px ;
}
/*LOGIN BUTTTON*/
.login-btn{
  padding: 12px 32px;
  background-color: var(--primary);
  color: var(--bg-primary);
  border-radius:4px;
  transition: var(--transition);
}
.login-btn:hover{
  background-color: var(--second);
}



/*CART BUTTON*/

.cart-btn{
  padding: 12px 15px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius:4px;
  transition: var(--transition);
  border: 1px solid #EBEBEB;
}
.cart-btn svg{
  margin-left: 15px;
}

.cart-btn:hover{
  background-color: var(--second);
  color: var(--bg-primary);
  border: 1px solid var(--second);
}
.cart-btn span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--bg-primary);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  
  transition: var(--transition);
}
.cart-btn:hover span{
  background-color: var(--bg-primary);
  color: var(--second);
}


/*VIEW CART BUTTON*/

.view-cart-btn{
  padding: 12px 15px;
  background-color: var(--primary);
  color: var(--bg-primary);
  border-radius:4px;
  transition: var(--transition);
}
.view-cart-btn:hover{
  background-color: var(--second);
}


/*CHECKOUT BUTTON*/
.checkout-btn{
  padding: 12px 15px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius:4px;
  transition: var(--transition);
  border: 1px solid #EBEBEB;
}

.checkout-btn:hover{
  background-color: var(--second);
  color: var(--bg-primary);
  border: 1px solid var(--second);
}


/*VIEW CART TWO BUTTON*/

.view-cart-btn-two{
  padding: 12px 15px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius:4px;
  transition: var(--transition);
  border: 1px solid #EBEBEB;
  position: relative;
}
.view-cart-btn-two svg{
  margin-left: 15px;
}

.view-cart-btn-two:hover{
  background-color: var(--second);
  color: var(--bg-primary);
  border: 1px solid var(--second);
}
.view-cart-btn-two span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--bg-primary);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}